# Required
RAILS_MASTER_KEY=
DOUGMORGEN_DATABASE_PASSWORD=

# SMTP
SMTP_ADDRESS=mail.dougmorgen.com
SMTP_PORT=587
SMTP_DOMAIN=dougmorgen.com
SMTP_USERNAME=
SMTP_PASSWORD=

# Inquiry notifications
INQUIRY_NOTIFICATION_EMAIL=
MAILER_FROM=dougmorgen.com <no-reply@dougmorgen.com>

# Admin basic auth
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Registry
KAMAL_REGISTRY_PASSWORD=
